/src
/lib/**/*.spec.ts
/lib/**/*.bench-spec.ts
/lib/**/*.spec.js
/lib/**/*.bench-spec.*.js
/lib
tests/
bench/
/benches
/coverage
/.vscode/
/tsconfig.json
declarray-*.tgz
/.github
*.spec.ts
*.bench-spec.ts
*.orig
.npmrc
*output.txt
*.md
tsconfig.*json
bench-out-formatter.js
bench-out-formatter.d.ts
*.csv
.idea/
.prettierrc.json
.prettierignore
.eslintrc.json
.eslintignore
docs/
